/*É o tamanho das Imagens*/
.logo{
    width: 10%;
    margin-left: 30px;
}
/*Estilizaçao do BODY do site*/
body{
    margin: 0;
    border: 0;
    font-family: 'Tahoma';
    background-color: #260101;
}
/*Estilização da DIV do header*/
.divHeader{
    position: relative;
    margin: auto;
    padding-bottom: 75px;
}
.nome {
    position: absolute;
    top: 37px;
    left: 90px;
    color: white;
    font-size: 20;
    font-family: Tahoma;
}
/*Estilização do MENU do site*/
nav{
    position: absolute;
    top: 22px;
    right: 0px;
}
nav a{
    display: inline;
    color: white;
    font-size: 20;
    margin-right: 30;
    text-decoration: none;
}
footer {
    background-position: center;
    background-color: rgba(0, 0, 0, 0);
    padding: 100px 10px 10px 0;
}
footer p {
    color: white;
    font-size: 20px;
    margin-left: 30px;
    width: 200px;
    position:absolute;
}
.instagram {
    text-align: center;
    margin-left: 50px;
    width: 50px;
}
.itens {
    margin-top: 14px;
    margin-right: 400px;
    font-size: 22px;
}
.titulo {
    color: #F9DBAB;
    font-family: Tahoma;
    font-size: 90px;
    width: 90%;
}
p {
    color: white;
    font-family: Tahoma;
    font-size: 25px;
    margin-left: 50px;
    margin-right: 760px;
}
.banner {
    width: 30%;
    /* margin-left: 800px; */
    clear: left;
}
.divBannerTexto {
    float: left;
    width: 70%;
}
.divBannerTexto p{
    color: white;
    font-family: Tahoma;
    font-size: 25px;
    width: 90%;
    text-align: justify;
    padding: 0;
    margin: 0;
}
.container {
    width: 95%;
    padding-left: 40px;
}
.container2 {
    display: flex;
    gap: 40px;
}
.quadrado {
    width: 650px;
    height: 450px;
    background: transparent;
    font-size: 20px;
    border-radius: 30px; 
    margin-left: 30px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}
.sobre {
    color: white;
    font-family: Tahoma;
    text-align: center;
    margin-top: 100px;
}
.nos {
    color: white;
    font-family: Tahoma;
    font-size: 26.5px;
    margin-right: 30px;
    margin-top: 80px;
    text-align: justify;
    margin-left: -100px;
}
.imagem {
    width: 50%;
    margin-top: -100px;
}
.localizacao {
    color: white;
    text-align: center;
    font-family: Tahoma;
    margin-top: -50px;
}
.container3 {
    display: flex;
    gap: 30px;
    margin-left: 190px;
}
.quadrado2 {
    width: 300px;
    height: 400px;
    background: transparent;
    border-radius: 30px;
    border: 5px solid #FF2427;
    transition: transform 0.3s ease-in-out;
    margin-top: 80px;
}
.quadrado2:hover {
    transform: scale(1.05);
}
.beneficio {
    color: white;
    font-family: Tahoma;
    text-align: center;
    margin-top: 100px;
}
.b {
    color: white;
    font-family: Tahoma;
    font-size: 30px;
    width: 100%;
    text-align: center;
    margin-left: 0px;
    margin-top: 70px;
}
.e {
    color: white;
    font-family: Tahoma;
    font-size: 30px;
    text-align: center;
    width: 100%;
    margin-left: 0px;
    margin-top: 70px;
}
/* RESPONSIVIDADE */
@media(max-width: 768px) {
  .divBannerTexto, .quadrado {
    padding: 0 20px;
    text-align: center;
  }
}