/*É o tamanho das Imagens*/
.logo{
    width: 10%;
    margin-left: 30px;
}
/*Estilizaçao do BODY do site*/
body{
    margin: 0;
    border: 0;
    font-family: 'Tahoma';
    background-color: #260101;
}
/*Estilização da DIV do header*/
.divHeader{
    position: relative;
    margin: auto;
    padding-bottom: 75px;
}
/* .nome {
    position: absolute;
    top: 37px;
    left: 90px;
    color: white;
    font-size: 20;
    font-family: Tahoma;
} */
/*Estilização do MENU do site*/
nav{
    position: absolute;
    top: 22px;
    right: 0px;
}
nav a{
    display: inline;
    color: white;
    font-size: 20;
    margin-right: 30;
    text-decoration: none;
}
footer {
    background-position: center;
    background-color: rgba(0, 0, 0, 0);
    padding: 100px 10px 10px 0;
}
footer p {
    color: white;
    font-size: 20px;
    margin-left: 30px;
    width: 200px;
    position:absolute;
}
.instagram {
    text-align: center;
    margin-left: 50px;
    width: 50px;
}
.itens {
    margin-top: 14px;
    margin-right: 400px;
    font-size: 22px;
}
.titulo {
    color: #F9DBAB;
    font-family: Tahoma;
    font-size: 90px;
    width: 90%;
}
p {
    color: white;
    font-family: Tahoma;
    font-size: 25px;
    margin-left: 50px;
    margin-right: 760px;
}
/*ESTILIZAÇÃO DA TABELA DE ENCOMENDAS*/
table {
    width: 100%;
    margin-bottom: 2%;
    table-layout: fixed;
}
th {
    font-weight: bold;
    background-color: #ffac27;
}
td, th {
    font-weight: bold;
    padding: 10px;
    margin: 0;
    border: 1px solid white;
    text-align: center;
}
/*TÍTULOS*/
.contatos-titulo {
    font-size: 40px;
    font-weight: bold;
    color: #260101;
    font-family: cursive;
    list-style: none;
}
.texto-contatos {
    padding-left: 20%;
    color: white;
    font-family: Tahoma;
    font-size: 100%;
}
/*Formulário*/
form {
    margin-top: 20px;
    margin-left: 20%;
    margin-bottom: 0;
}
form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}
fieldset {
    width: 75%;
    padding-left: 5%;
    margin-bottom: 2%;
}
.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 85%;
}
.chk {
    margin: 20px 0 ;
    color: white;
    font-family: Tahoma;
}
.enviar {
    height: 10%;
    margin-bottom: 20px;
    background: #ffac27;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}
.enviar:hover {
    background: rgb(192, 106, 0);
    transform: scale(1.2);
}
.cliente {
    background-color: white;
}

/*Estilização da exclusão da encomenda*/
.fadeOut {
    opacity: 0;
    transition: 1s;
}

/*Estilização do campo de BUSCA*/
#buscar {
    width: 19.5%;
    height: 35px;
    margin-bottom: 10px;
}

.invisivel {
    display: none;
}